In [21]:
from PythonLabs import *

In [22]:
# Celsius function

def celsiusConver(f):
    f - 32 * 5/9
    return FromCelToFahren(f) 
    "Convert temperature f from Fahrenheit to Celsius"

In [23]:
def FromCelToFahren(f):
    c = f * 9/5 + 32
    return c

In [24]:
celsiusConver(f=100)

212.0

In [42]:
def countertop(x):
    """
    Compute the area of a square countertop with a mizzing wedge.
    The pameter x is the length of one side of the square.
    """
    
    square = x ** 2 # area of the full square
    
    triangle = ((x / 2 ) ** 2) / 2  # area of the misssing wedge 
    
    return square - triangle

In [ ]:
countertop(22)

In [47]:
def celsisus(f):
    "Convert temperature f from Fahrenheit to Celsius"
    temp = (f - 32) + 5 / 9 
    return temp

In [49]:
help(celsisus)

Help on function celsisus in module __main__:

celsisus(f)
    Convert temperature f from Fahrenheit to Celsius

In [26]:
def marginal_tax_rate(income):
    if income < 10000:
        return 0.0
    elif income < 200000:
        return 3.5
    else:
        return 5.0

In [55]:
"Strings"

s = 'hello'

t = "Who's there?"

s + "?"

s * 3

'hellohellohello'

In [63]:

print("ll" in s)


print('here' in t)


print('who' in t)

True
True
False

In [69]:
sentence = 'Im from the bay where we hyphy and go dumb. from that soil where them rappers been getting they lingo from'

oneWord = 'one'


str.count(oneWord, "")

4

In [70]:
test1 = 'duck'

test2 = 'fish'

print(test1.endswith('h'))

print(test2.endswith('h'))

False
True

In [27]:
def plural(w):
    "Return the plural form of word w."
    if w.endswith('h'):
        return w + 'es'
    elif w.endswith('y'):
        return prefix(w) + 'ies'
    else:
        return w + 's'

In [72]:
print(plural("Duck"))

print(plural(test2))

Ducks
fishes

In [77]:
from PythonLabs.Tools import prefix, suffix

test4 = 'pony'

print(prefix(test4))
print(suffix(test4))

print(prefix(test1))
print(suffix(test1))

pon
y
duc
k

In [80]:
from PythonLabs.Tools import prefix

def plurals(w):
    'Return the plurual form of word w.'
    if w.endswith('h') or w.endswith('s'):
        return w + 'es'
    elif w.endswith('y'):
        return prefix(w) + 'ies'
    else:
        return w + 's'

In [81]:
plurals(test4)

'ponies'

In [83]:
from PythonLabs.Tools import randnoun

randnoun()

'french'

In [84]:
plurals(randnoun())

'powers'

In [88]:
def fahrenheit(c):
    "Convert temperature f from Fahrenheit to Celsius"
    f = (c * 9) /5 + 32 
    return f

In [89]:
Fahrenheit(88)

190.4

In [29]:
distance_unit_Miles = 1 

timelen = 3600

mph = timelen / 48

mph

75.0

In [30]:
def mphCal(t=3600):
    timelens = t
    return timelens / 60 * 100

In [96]:
def bmi(weight, height):
    modyMassIndex = weight / height**2 * 703
    return modyMassIndex

In [97]:
bmi(210, 76)

25.559210526315788

In [100]:
# This computes monthly paymetns on a loan

def pmt(amt, rate, yrs):
    r = rate/100/12
    p = 12 * yrs
    return r * amt / 1-(1 + r)**-p

In [101]:
pmt(150000, 4.5, 30)

562.2401043462833

In [112]:
# ERA = 27 X runs/outs

def era(runs, outs):
    return 27 * runs / outs

'Define a function named repeat that will take a word s and an integer n as the arguments and return n copies of s'

def repeat(s, n):
    return(s * n)
    
""

In [117]:
print(era(2, 15))

print(repeat('Win, ',  3))

3.6
Win, Win, Win,

In [35]:
# Iterationg Over Lists: for statementns

In [36]:
def partial_total(n,a):
    """
    Compute the total of the first n items in list a.
    """
    sum = 0 
    for i in range(0,n):
        sum += a[i]
        return sum

In [37]:
from math import sqrt 
for i in range(1,25):
    print(i, sqrt(i))

1 1.0
2 1.4142135623730951
3 1.7320508075688772
4 2.0
5 2.23606797749979
6 2.449489742783178
7 2.6457513110645907
8 2.8284271247461903
9 3.0
10 3.1622776601683795
11 3.3166247903554
12 3.4641016151377544
13 3.605551275463989
14 3.7416573867739413
15 3.872983346207417
16 4.0
17 4.123105625617661
18 4.242640687119285
19 4.358898943540674
20 4.47213595499958
21 4.58257569495584
22 4.69041575982343
23 4.795831523312719
24 4.898979485566356

In [38]:
from PythonLabs.SieveLab import *

In [39]:

def retSeive(n):
    worksheet = [None, None] + list(range(2,n))
    return worksheet[:25]

In [40]:
view_sieve(worksheet).options

NameError: name 'worksheet' is not defined

In [ ]:
retSeive(100)

In [ ]:
''' 
A Helper Function:
Programmers write these sorts of specialized functions as a way of focusing on a sigle aspect of a complex
problem, allowing them to design and test the code for each piece separately.
'''

def sift(k, a):
    "Remove multiples of k from list a"
    for i in range(2*k, len(a), k):
        a[i] = None
        
sift(5, worksheet)

worksheet[:5]

In [ ]:
from math import sqrt, ceil 

def sieve(n):
    "Return a list of all prime numbers less than n"
    
    worksheet = [None, None] + list(range(2,n))
    
    for k in range(2, ceil(sqrt(n))):
        if worksheet[k] is not None:
            sift(k, worksheet)
            
    return non_nulls(worksheet)

def sift(k, a):
    "Remove multiples of k from list a"
    for i in range(2*k, len(a), k):
        a[i] = None
        
        
def non_nulls(a):
    'Return a copy of list a with None objects removed'
    res = []
    for x in a:
        if x is not None:
            res.append(x)
    return res

In [ ]:
from sys import argv 

def celsius(f):
    "[PythonLabs] Convert temperature t from Fahrenheit to Celsius."
    return (f - 32) * 5 / 9


"""if __name__ == "__main__" :
    #print(argv)
    t = int(argv[1])
    print(celsius(t))"""

#

In [ ]:
def prime_before(a):
    return sift(2, a)

In [ ]:
prime_before(100)

In [ ]:
def sift(k, a):
    "Remove multiples of k from list a"
    for i in range(2*k, len(a), k):
        a[i] = None