In [1]:
from PythonLabs import *

In [2]:
# Celsius function

def celsiusConver(f):
    f - 32 * 5/9
    return FromCelToFahren(f) 
    "Convert temperature f from Fahrenheit to Celsius"

In [3]:
def FromCelToFahren(f):
    c = f * 9/5 + 32
    return c

In [4]:
celsiusConver(f=100)

212.0

In [5]:
def countertop(x):
    """
    Compute the area of a square countertop with a mizzing wedge.
    The pameter x is the length of one side of the square.
    """
    
    square = x ** 2 # area of the full square
    
    triangle = ((x / 2 ) ** 2) / 2  # area of the misssing wedge 
    
    return square - triangle

In [6]:
countertop(22)

423.5

In [7]:
def celsisus(f):
    "Convert temperature f from Fahrenheit to Celsius"
    temp = (f - 32) + 5 / 9 
    return temp

In [8]:
help(celsisus)

Help on function celsisus in module __main__:

celsisus(f)
    Convert temperature f from Fahrenheit to Celsius

In [9]:
def marginal_tax_rate(income):
    if income < 10000:
        return 0.0
    elif income < 200000:
        return 3.5
    else:
        return 5.0

In [10]:
"Strings"

s = 'hello'

t = "Who's there?"

s + "?"

s * 3

'hellohellohello'

In [11]:

print("ll" in s)


print('here' in t)


print('who' in t)

True
True
False

In [12]:
sentence = 'Im from the bay where we hyphy and go dumb. from that soil where them rappers been getting they lingo from'

oneWord = 'one'


str.count(oneWord, "")

4

In [13]:
test1 = 'duck'

test2 = 'fish'

print(test1.endswith('h'))

print(test2.endswith('h'))

False
True

In [14]:
def plural(w):
    "Return the plural form of word w."
    if w.endswith('h'):
        return w + 'es'
    elif w.endswith('y'):
        return prefix(w) + 'ies'
    else:
        return w + 's'

In [15]:
print(plural("Duck"))

print(plural(test2))

Ducks
fishes

In [16]:
from PythonLabs.Tools import prefix, suffix

test4 = 'pony'

print(prefix(test4))
print(suffix(test4))

print(prefix(test1))
print(suffix(test1))

pon
y
duc
k

In [17]:
from PythonLabs.Tools import prefix

def plurals(w):
    'Return the plurual form of word w.'
    if w.endswith('h') or w.endswith('s'):
        return w + 'es'
    elif w.endswith('y'):
        return prefix(w) + 'ies'
    else:
        return w + 's'

In [18]:
plurals(test4)

'ponies'

In [19]:
from PythonLabs.Tools import randnoun

randnoun()

'instance'

In [20]:
plurals(randnoun())

'syntaxs'

In [21]:
def fahrenheit(c):
    "Convert temperature f from Fahrenheit to Celsius"
    f = (c * 9) /5 + 32 
    return f

In [22]:
fahrenheit(88)

190.4

In [23]:
distance_unit_Miles = 1 

timelen = 3600

mph = timelen / 48

mph

75.0

In [24]:
def mphCal(t=3600):
    timelens = t
    return timelens / 60 * 100

In [25]:
def bmi(weight, height):
    modyMassIndex = weight / height**2 * 703
    return modyMassIndex

In [26]:
bmi(210, 76)

25.559210526315788

In [27]:
# This computes monthly paymetns on a loan

def pmt(amt, rate, yrs):
    r = rate/100/12
    p = 12 * yrs
    return r * amt / 1-(1 + r)**-p

In [28]:
pmt(150000, 4.5, 30)

562.2401043462833

In [29]:
# ERA = 27 X runs/outs

def era(runs, outs):
    return 27 * runs / outs

'Define a function named repeat that will take a word s and an integer n as the arguments and return n copies of s'

def repeat(s, n):
    return(s * n)
    
""

''

In [30]:
print(era(2, 15))

print(repeat('Win, ',  3))

3.6
Win, Win, Win,

In [31]:
from PythonLabs.SieveLab import sieve

sieveList = list(sieve(50))

len(sieveList)

15

In [32]:
breakfast = []

print(len(breakfast))

breakfast.append(['spam', 'eggs'])

print(len(breakfast))

breakfast.append('hashbrowns')

print(len(breakfast))

0
1
2

In [33]:
def randCreator(n):
    listOfrand = []
    for i in range(5):
        i = randnoun()
        listOfrand.append(i)
    return listOfrand

lit = randCreator(10)

In [34]:
lit[2]

'telephone'

In [35]:
def print_list(a):
    for x in a:
        print(x)
        
def total(a):
    sum = 0 
    for x in a:
        sum += x 
    return sum

In [36]:
# Iterationg Over Lists: for statementns

In [37]:
def partial_total(n,a):
    """
    Compute the total of the first n items in list a.
    """
    sum = 0 
    for i in range(0,n):
        sum += a[i]
        return sum

In [38]:
from math import sqrt 
for i in range(1,25):
    print(i, sqrt(i))

1 1.0
2 1.4142135623730951
3 1.7320508075688772
4 2.0
5 2.23606797749979
6 2.449489742783178
7 2.6457513110645907
8 2.8284271247461903
9 3.0
10 3.1622776601683795
11 3.3166247903554
12 3.4641016151377544
13 3.605551275463989
14 3.7416573867739413
15 3.872983346207417
16 4.0
17 4.123105625617661
18 4.242640687119285
19 4.358898943540674
20 4.47213595499958
21 4.58257569495584
22 4.69041575982343
23 4.795831523312719
24 4.898979485566356

In [39]:
from PythonLabs.SieveLab import *

In [40]:

def retSeive(n):
    worksheet = [None, None] + list(range(2,n))
    return worksheet

In [41]:

worksheet = [None, None] + list(range(2,100))

In [42]:
view_sieve(worksheet)

In [43]:
retSeive(20)

[None, None, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [44]:
mark_multiples(2, worksheet)

In [45]:
''' 
A Helper Function:
Programmers write these sorts of specialized functions as a way of focusing on a sigle aspect of a complex
problem, allowing them to design and test the code for each piece separately.
'''

def sift(k, a):
    "Remove multiples of k from list a"
    for i in range(2*k, len(a), k):
        a[i] = None
        
sift(5, worksheet)

worksheet[:5]

[None, None, 2, 3, 4]

In [46]:
from math import sqrt, ceil 

def sieve(n):
    "Return a list of all prime numbers less than n"
    
    worksheet = [None, None] + list(range(2,n))
    
    for k in range(2, ceil(sqrt(n))):
        if worksheet[k] is not None:
            sift(k, worksheet)
            
    return non_nulls(worksheet)

def sift(k, a):
    "Remove multiples of k from list a"
    for i in range(2*k, len(a), k):
        a[i] = None
        
        
def non_nulls(a):
    'Return a copy of list a with None objects removed'
    res = []
    for x in a:
        if x is not None:
            res.append(x)
    return res

In [47]:
from sys import argv 

def celsius(f):
    "[PythonLabs] Convert temperature t from Fahrenheit to Celsius."
    return (f - 32) * 5 / 9


if __name__ == "__main__" :
    #print(argv)
    t = int(argv[0])
    print(celsius(t))

ValueError: invalid literal for int() with base 10: 'C:\\Users\\JBarr\\anaconda3\\envs\\dev\\lib\\site-packages\\ipykernel_launcher.py'

#

In [ ]:
def prime_before(a):
    return sift(2, a)

In [ ]:
prime_before(100)

In [ ]:
def sift(k, a):
    "Remove multiples of k from list a"
    for i in range(2*k, len(a), k):
        a[i] = None

In [9]:
from PythonLabs.IterationLab import *

"Chapter 4 Searching Algorithm"

In [10]:
RandomList.sources()

('cars',
 'colors',
 'elements',
 'fruits',
 'fish',
 'languages',
 'words',
 'nouns',
 'verbs')

In [11]:
# The Linear Search Algorithm

a = [8, 1, 9, 2, 7, 5, 3]

In [12]:
isearch(a, 7)

4

In [ ]:

display(RandomList(5))

display(RandomList(5, 'cars'))

In [ ]:
%%timeit


isearch(a, 1)

In [ ]:
# Implementing Linear Search

def linsearch(a, x):
    "Use a for loop to search for x"
    for i in range(0, len(a)):
        if a[i] == x:
            return i 
    return None

In [ ]:
%%timeit

linsearch(a, 3)

In [ ]:
def linearSearch(a, x):
    "Use a while loop to search for x"
    i = 0 
    while i < len(a):
        if a[i] == x:
            return i
        i += 1 
    return None

In [ ]:
%%timeit


linearSearch(a, 9)

# The Insertion Sort Algorithm 

## A Helper Function for Insertion Sort:

This operation ia itself defined by an iterative algorithm.
If i is the current location, we want to scan left from i -1 ands work back towards the beginning of the list.
The scan stops when we find a smaller value or the front of the list.

In [28]:
# Implementing Insertion Sort 

def isort(a):
    'Sort list a using insertion sort'
    for i in range(1, len(a)):
        move_left(a,i)
        

def move_left(a, j):
    'isort helper function that moves a[j]'
    x = a.pop(j)
    while j > 0 and a [j - 1] > x:
        j -= 1
    a.insert(j, x)      

def move_left(a, j):
    'isort helper function that moves a[j]'
    x = a.pop(j)
    while j > 0 and a [j - 1] > x:
        j -= 1
    a.insert(j, x)
    
    
    
a = [8, 1, 9, 2, 7, 5, 3]

print(a)

move_left(a, 1)

print(a)

isort(a)

print(a)

[8, 1, 9, 2, 7, 5, 3]
[1, 8, 9, 2, 7, 5, 3]
[1, 2, 3, 5, 7, 8, 9]